@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');


:root{
  --head-color: #021e2b;
  --main-text-color : #222222;
  --main-border-color: #cfcfcf;
  --main-border-width: 0.75px;
  --border-radius: 6px;
  --hover-color: #d4987e;
  --active-color: #d44c11;
  --active-tab-color: #cf673a;
}

*{
  font-family: 'Roboto';
  font-weight: 300;
}